body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
   
  }
  .hi{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
  }
   
  /* Container Styles */
  .but {
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 0.5rem;
    width: 40%; /* Add a width */
    margin: 0 auto; /* Center the container */
   
   
   
  }
  h1 {
    position: absolute;
    top: 0;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #2d94d8;
    padding: 3%;
   
  }
 
   
  /* Row and Column Styles */
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px; /* Gap between rows */
    column-gap: 40px; /* Gap between columns */
    margin-bottom: 20px;
  }
   
   
   
  .col {
    flex: 1;
   
  }
   
  /* Label Styles */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3071b1;
  }
   
  /* Input and Select Styles */
  input[type="date"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #91e776;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4eeee;
  }
   
  /* Button Styles */
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #367bc1;
    color: #fff;
    margin-bottom: 20px;
  }
   
  button:hover {
    background-color: #1a252f;
  }
   
  /* Responsive Styles */
  @media (max-width: 480px) {
    .but {
      padding: 20px;
    }
   
    .col {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }